<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">

  <title>Document</title>
</head>

<body>
  <section class="hero is-primary mobile">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          <a href="/"> Medium</a>
        </h1>
        <h2 class="subtitle">
          Create Blogs
        </h2>
      </div>
    </div>
  </section>
  <div class="card" style="width: 63rem;
        margin-left: 30rem; box-shadow: none; padding-top: 5rem;">
    <div class="card-image">
    </div>
    <% if(user && blog.author.equals(user._id)){%>
    <a href="/blogs/<%= blog._id %>/edit"><button style="margin-left: 25px;" class="button is-danger">Edit</button></a>
    <a href="/blogs/<%= blog._id %>/delete"><button class="button is-danger">Delete</button></a>
    <%}%>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
    <p class="subtitle is-5">Blog by <%= blog.author.name %></p>

    <p class="title is-3"><%= blog.title %></p>
    <p class="subtitle is-5"><%= blog.description %></p>
  </div>
  </div>

  <div class="content mobile">
    <%= blog.content %>
  </div>
  </div>
  <p class="subtitle is-5">Comments</p>
  <% blog.comments.forEach(comment =>{%>
  <div class="card">
    <div class="card-content">
      <div class="content">
        By <%= comment.author.name %>
      </div>
      <div class="content">
        <%= comment.description %>
      </div>
      <% if(user && comment.author.equals(user._id)){%>
      <a href="/comments/<%= comment._id %>/edit">
        <button class="button is-danger">
          Edit
        </button></a>

      <a href="/comments/<%= comment._id %>/delete">
        <button class="button is-danger">
          Delete
        </button></a>
      <%}%>
    </div>
  </div>
  <%})%>
  <% if(user){%>
      <form action="/blogs/<%= blog.id %>/comments" method="post">
        <div class="field">
          <label class="label">Add Comment</label>
          <div class="control">
            <textarea class="textarea" placeholder="Textarea" name="description"></textarea>
          </div>
          <input type="hidden" value="<%= user.id %>" name="author">
          <input type="hidden" value="<%= blog._id %>" name="blogpost">
          <div class="control">
            <button type="submit" class="button is-link">Submit</button>
          </div>
        </div>
      </form>
      <%}%>
    </div>
    <footer class="footer" style="margin-top: 5rem;">
      <div class="content has-text-centered">
        <p>
          <strong>Blogs</strong> by <a href="https://github.com/akslucky619">Crime Master GoGo</a>. The source code is
          licensed
          <a href="https://github.com/akslucky619/Core-nodejs-blog-creator">Github</a>. The website content
          is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
      </div>
    </footer>


</body>

</html>